<div class="row">
  <div class="col-sm-12">
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let playlist of buildPlaylist()" >
        <a href="#{{getID(playlist)}}" data-toggle="collapse">{{playlist.name}}</a>
        <div id="{{getID(playlist)}}" class="panel-collapse collapse">
          <div class="                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       row">
            <p *ngFor="let music of playlist.musics" class="col-sm-4" >{{music.name}}</p>
            <p *ngIf="!playlist.musics">Não foi adicionada nenhuma música</p>
          </div>
        </div>
      </li>
    </ul>
    <h5 *ngIf="playlists.length == 0">Nenhuma playlist cadastrada</h5>
  </div>
</div>
