<div class="container">
  <nav class="navbar container fixed-top navbar-light justify-content-center" style="background-color: #e3f2fd;">
    <ul class="nav nav-pills nav-fill ">
      <li class="nav-item">
        <a class="nav-link" routerLinkActive = "active" routerLink = "/artistas" >Artistas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive = "active" routerLink = "/musicas" >Músicas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive = "active" routerLink = "/albuns">Álbuns</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive = "active" routerLink = "/playlists">Playlist</a>
      </li>
    </ul>
  </nav>
  <router-outlet></router-outlet>
</div>


