<div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" href="#{{artist.name.toLowerCase().concat('Id').replace(' ','')}}">{{artist.name}} </a>
        <span *ngIf="artist.favorite"  class="badge">Favorito</span>
      </h4>
    </div>
    <div id="{{artist.name.replace(' ','').toLowerCase().concat('Id')}}" class="panel-collapse collapse">
      <div class="panel-body ">
        <div class="row">
          <div class="col-sm-4">
            <div class="row col-sm-12">
              <img class="img-circle " src="{{artist.photo}}" alt="Erro ao carregar foto">
            </div>
            <div class="row col-sm-12">
              <rating [(ngModel)]="artist.rating" [max]="5" [float]="true" [titles]="[1..10]"></rating>
            </div>
            <button type="button" class="btn btn-xs" [ngClass]="{
              'btn-danger': !artist.favorite,
              'btn-default': artist.favorite}" (click)="favoriteArtist(artist)">
              <span class="glyphicon glyphicon glyphicon-heart" aria-hidden="true"></span>{{ artist.favorite ? ' Desfavoritar' : ' Favoritar' }}
            </button>
          </div>
          <div class="col-sm-3 ">
            <h3>Álbuns</h3>
            <!-- List group -->
            <ul class="list-group">
              <li *ngFor="let album of albums"  class="list-group-item">{{album.name}}</li>
            </ul>
          </div>
          <div class="col-sm-5 ">
            <h3>Músicas </h3>
            <ul class="list-group">
              <li *ngFor="let music of musics" [ngClass]="{'alert-info':artist.lastMusic === music.name}"
              (click)="artist.lastMusic = music.name" class="list-group-item">{{music.name}}</li>
              <small>Click na última música escutada desse artista</small>
            </ul>

            <h4 class="">Última música escutada</h4>
            <p>
              {{artist.lastMusic?artist.lastMusic:'Nenhuma música foi marcada ainda'}}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
