<div class="">
  <nav class="navbar navbar-default ">
    <ul class="nav nav-pills">
      <li role="presentation" routerLinkActive = "active" >
        <a routerLink = "/artistas" >Artistas</a>
      </li>
      <li role="presentation" routerLinkActive = "active" >
        <a routerLink = "/musicas" >Músicas</a>
      </li>
      <li role="presentation" routerLinkActive = "active" >
        <a routerLink = "/playlists">Playlist</a>
      <li role="presentation" routerLinkActive = "active" >
          <a (click)="logout()">Logout</a>
      </li>
    </ul>
    <app-breadcrumb></app-breadcrumb>
  </nav>
</div>