<div class="">
  <h3>The Jukebox</h3>
  <nav class="navbar navbar-default ">
    <ul class="nav nav-pills">
      <li role="presentation" routerLinkActive = "active" >
        <a routerLink = "/artistas" >Artistas</a>
      </li>
      <li role="presentation" routerLinkActive = "active" >
        <a routerLink = "/musicas" >Músicas</a>
      </li>
      <li role="presentation" routerLinkActive = "active" >
        <a routerLink = "/playlists">Playlist</a>
      </li>
    </ul>
    <app-breadcrumb></app-breadcrumb>
  </nav>
</div>

<div class="row container">
  <router-outlet>
  </router-outlet>
</div>
